

<head>
    <title>userCommentList.html</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>

<body>
<div class="container" style = "position:relative; left:80px; top:2px; background-color:cyan;">
  {% for comment in comments %}

     <span>
          <h2>{{ comment.title }}</h2>
           <p>{{ comment.body }}</p>
      </span>

{% endfor %}
</div>
<style>
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}
</style>

<div class="footer">
  <p>LOOK HERE ITS A FOOTER</p>
</div>
</body>